.topnavbar {
  background-color: rgba(229, 229, 229, 1);
  width: 100%;
  box-shadow: none;
  min-height: 3.125rem;
  color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.bottomnavbar {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  box-shadow: none;
  min-height: 3.125rem;
  padding-right: 12%;
  padding-left: 12%;
  font-family: "Montserrat", sans-serif;
}

#nav-btns {
  color: black;
  padding: 10px;
}

.brand-logo > img {
  width: 15%;
  height: 15%;
  padding-bottom: 10%;
}

#bodyimg {
  width: 75%;
  height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 12%;
  padding-right: 12%;
}

.grid-item > img {
  display: block;
  width: 80%;
}

#warm {
  position: absolute;
  padding-left: 25%;
  bottom: 50px;
  top: 85%;
  right: -70%;
  white-space: nowrap;
}

#spacer {
  padding-top: 20px;
  padding-left: 60.7%;
}
#black-box {
  background-color: black;
  padding-top: 20px;
  padding-left: 15%;
}
#black-box > img {
  padding-left: 15px;
  padding-right: 15px;
}
